* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 300;
}

body {
  background-color: #eef8fe;
  text-justify: inter-character; 
}
.home,

.encuentros {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  margin: 0rem 4rem 0rem 4rem;
  font-size: 1.4rem;
  text-align: center;
}

.encuentros-intro{
  font-family: 'Montserrat';
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto; 
  padding-top: 1rem;
}

.encuentros-intro h1{
  padding-top: 1rem;
    color: #c38820;
    padding-bottom: 1rem;
  }

  .gabriela-intro{
    font-family: 'Montserrat';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 620px;
    margin: 0 auto;
    padding-top: 2rem;
   
  }
  
  .gabriela-intro h1{
      color: #588290;
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }
  
    .gabriela-intro h2{
      font-size: 1rem;
      line-height: 1.6rem;
      margin: 0
    }

    .img-container{
      min-width: '80%'
    }

    .nosotras {
      display: flex;
      text-align: justify;
      max-width: 800px;
      margin: 0 auto;
      justify-content: center;
    }

.nosotras-content{
  display: flex;
  flex-direction: column;
  width: 50%;
}
  
.nosotras-col{
  width: 100%;
  margin: 0rem;
  padding-top: 2rem;
  font-size: 15px;
  line-height: 22px;
}

.nosotras-col img {
  width: 20px;
}

.nosotras-col2{
  width: 100%;
  margin: 0 4rem 0 4rem;
  padding-top: 2rem;
  font-size: 15px;
  line-height: 22px;
}

.nosotrasImg{
  border-radius: 5px;
  padding-top: 0!important;
  box-shadow: 0 0px 8px 0 rgb(0, 19, 38, 0.5), 0 7px 20px 0 rgb(0, 19, 38, 0.1);
}

h2{
  padding-bottom: 10px;
}

.talleres {
/*   background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
/*   background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.modal {
  max-width: 80vw;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 50%);
/*   max-height: 600px; */
/*   overflow-y: auto; */
  /* min-width: 600px; */
  min-height: 150px;
  margin: 0 auto;
  padding: 20px;
background: white;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.modal p {
  color: #444;
  font-size: 14px;
  margin: 0 2rem 1rem 2rem ;
  line-height: 18px;
}

.infoModal{
  background-color: #588290;
  border-radius: 20px;
  padding: 0.5rem;
}

.p-info {
  max-width: 70vw;
  margin: 0px!important;
  color: white!important;
  padding: 1em!important;
}

.modalOrangeBox{
  border-radius: 10px;
  border:1px solid #cfab2e;
  padding: 1rem;
}

.video{
  width: 400px;
}

@media screen and (max-device-width: 599px), screen and (max-width: 599px) {
		  

  .video{
    width: 300px;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 400px;
  }

  .nosotras-col{
    padding-top: 2rem;
    margin: 0 auto;
    width: 90%;
  }

  
  .nosotras-col2{
    padding-top: 2rem;
    margin: 0 auto;
    width: 90%;
  }

  .container {
    height: 300px;
    width: 300px;
    padding: 1rem;
    gap: 0.3rem;
    margin: 0 auto;
  }

  h1{
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1rem;
  }

  .gabriela-intro {
    width: 300px;
    padding-top: 10px;
  }

  .gabriela-intro h1{
    font-size: 1.3rem;
  }

  img-container{
    width: 100vw;
  }

  .modal{
    margin: 0.5rem auto!important;
/*     height: auto; */
  }
  
.modal p {
  margin: 0rem 0rem 1rem 0rem;
  font-size: 11px;
  text-align: justify;
}

.p-info{
  text-align: center!important;
  font-size: 14px!important;
}

.nosotras-content{
  width: 80%!important;
}

.nosotras-col{
  padding-bottom: 20px;
}


.nosotrasImg{
  margin: 0!important;
  border-radius: 5px;
  padding-top: 0!important;
  box-shadow: 0 0px 8px 0 rgb(0, 19, 38, 0.5), 0 7px 20px 0 rgb(0, 19, 38, 0.1);
}

h2 {
  padding-bottom: 20px;
}

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}




